*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}

.bg-green{
    background-color: rgb(34, 36, 33);
}
.content{
    max-width: 900px;
    background-image: url(../img/notebook-vuoto-con-righe-a-spirale-simulazione-realistica-modello-di-blocco-note-in-carta-bianca-con-rilegatura-a-filo-diario-a4-mockup-2h4j1xy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto;
    border: none;
    border-radius: 20px;
}
.content-input{
    max-width: 900px;
    margin: 20px auto;
}

li{
    font-size: 20px;
    font-weight:600;
}
span{
    margin-left: 80px;
}
.m-left{
    margin-left: 30px;
}