*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 200px;
}


.bg-green{
    background-color: rgb(8, 51, 2);
}
.content{
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    border: none;
    border-radius: 20px;
}
.content-input{
    max-width: 900px;
    margin: 20px auto;
}
.b-bottom{
    border-bottom: 1px solid rgb(8, 51, 2);
    padding: 30px 0px;
}
li{
    font-size: 20px;
    font-weight:600;
}
.m-left{
    margin-left: 30px;
}